<h4 style="text-align:center;">LOGIN-IN</h4>

<form [formGroup]="f">
Email:
<input type="email" placeholder="abc@gmail.com" formControlName="email" class="form-control w-50 m-2" required >
<div *ngIf="f.get('email')?.touched && f.get('email')?.hasError('required')" class="invalid">
    "email is required"
</div>

Password:
<input type="password" class="form-control w-50 m-2" formControlName="password" required >
<ng-container *ngIf="f.get('password')?.touched &&f.get('password')?.hasError('required')" class="invalid">
    "password required"
</ng-container>

<a (click)="onClickSubmit(f.value)" class="btn btn-primary m-2">LOGIN-IN</a>
<!-- 
<div [ngIf]="b">
invalid email or password
</div> -->
</form>

<b class="invalid">Didn't sign-up yet?!</b>
<a routerLink="/sign-up" routerLinkActive="active">SignUp here !!</a>